
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  width:80%;
  margin:50px auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
} 

#container div {
  border: 1px solid blue;
  background-color: rgb(183, 196, 196);
  height: 80px;
  flex-basis: 10%;
  text-align: center;
  align-content: center;
  line-height: 80px;
}
